In [1]:
# importamos las librerias
import gzip
import ast
import json
import pandas as pd
import numpy as np

In [2]:
#Creamos una lista donde pueda leer los datos del JSON y abrirlos con pandas
reviews = []
with open('australian_user_reviews.json', 'r', encoding='utf-8') as f:
    for line in f.readlines():
        reviews.append(ast.literal_eval(line))
df_reviews = pd.DataFrame(reviews)
df_reviews

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

In [15]:
#Hacemos un explode en reviews para poder tener los datos en diferentes columnas
df_reviewsOpen = df_reviews.explode('reviews')
# Hacemos una concatenacion de datos entre el dataframe "reviews" y "open_reviews"
dfreviewsOpen = pd.concat([df_reviewsOpen.drop(['reviews'], axis=1), df_reviewsOpen['reviews'].apply(pd.Series)], axis=1)
# Selecionamos las columnas de "user_url", "funny", "review", "helpful", "last_edited" para eliminarlas
columnas_a_eliminar = ["user_url", "funny", "helpful", "last_edited"]
# Eliminamos las columnas de "user_url", "funny", "review", "helpful", "last_edited"
dfreviewsOpen = dfreviewsOpen.drop(columnas_a_eliminar, axis=1)
# Verificamos los datos, columnas del dataset
dfreviewsOpen.head(8)

,user_id,posted,item_id,recommend,review,0
0,76561197970982479,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...,NaN
0,76561197970982479,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.,NaN
0,76561197970982479,"Posted April 21, 2011.",43110,True,Great atmosphere. The gunplay can be a bit chu...,NaN
1,js41637,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...,NaN
1,js41637,"Posted September 8, 2013.",227300,True,For a simple (it's actually not all that simpl...,NaN
1,js41637,"Posted November 29, 2013.",239030,True,Very fun little game to play when your bored o...,NaN
2,evcentric,Posted February 3.,248820,True,A suitably punishing roguelike platformer. Wi...,NaN
2,evcentric,"Posted December 4, 2015.",370360,True,"""Run for fun? What the hell kind of fun is that?""",NaN

In [25]:
dfreviewsOpen.to_csv('Reviews_climpio.csv', index=False)